* {transition: all 0.5s;}
/* header */
header {
    font-family: 'Noto Sans KR';
    padding: 0 20px; height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed; left: 0; top: 0; width: 100%; z-index: 9999;
    display: flex;
    justify-content: space-between; align-items: center;
}
header h1 {}
header h1 a {}
header h1 a img {width: 150px;}
header nav {}
header nav a {color: #fff; margin-right: 16px;}
header nav a:last-child {margin: 0;}
header .recruitment {color: #fff;}
header .recruitment .fa-circle-chevron-right {color: #17a2b8;}
/* main */
main {
    background-color: #f1f1f1; padding-bottom: 40px;
    font-family: 'Noto Sans KR';
}
main .visual {
    height: 650px; overflow: hidden; position: relative;
}
main .visual video {width: 100%;}
main .visual .logo {
    position: absolute; left: 0; top: 150px;
    width: 100%; text-align: center;
}
main .visual .logo img {}
main .board, main .gallery {
    max-width: 1200px; margin: 40px auto 0;
    display: flex; justify-content: space-between;
}
main .board a, main .gallery a {
    background-color: #fff;
    display: block; border-radius: 5px;
    width: calc(100% / 3 - 40px / 3); padding: 20px;
}
main .board {}
main .board a {}
main .board a .category, .gallery a .category {margin-bottom: 15px;}
main .board a .category {}
main .board a h2, .gallery a h2 {
    font-size: 1.5rem; font-weight: 800;
    color: #111;
    letter-spacing: -0.2px; line-height: 1.5;
}
main .board a h2 {}
main .board a:first-child h2 {margin-bottom: 50px;}
main .board a .contents {line-height: 1.7;}
main .board a:first-child .contents {#aaa}
main .gallery {}
main .gallery a {}
main .gallery a .category {}
main .gallery a .photo {}
main .gallery a .photo img {width: 100%;}
main .gallery a h2 {}
main .gallery a .contents {line-height: 1.7;}
/* footer */
footer {border-top: 1px solid #777; padding: 40px 0;}
footer .top, footer address {max-width: 1200px; margin: 0 auto;}
footer .top {
    display: flex; justify-content: space-between; padding: 15px 0;
    align-items: center;
}
footer .top .f_nav {}
footer .top .f_nav a {}
footer .top .f_nav a::after {
    content: ''; display: inline-block; /* 필수 */
    width: 1px; height: 12px; background-color: #aaa;
    margin: 0 4px 0 7px;
}
footer .top .f_nav a:last-child::after {background: none;}
footer .top .site {position: relative;}
footer .top .site > a {
    background-color: #222; color: #fff;
    display: block; border-radius: 5px; padding: 7px 10px;
}
footer .top .site .sub {
    display: flex; flex-flow: column nowrap;
    background-color: #fff; width: 200px;
    position: absolute; right: 0; bottom: 33px;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: none; /* 초기 숨기기 */
}
footer .top .site .sub a {
    color: #007bff;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}
/* site에 마우스 올리면 (hover) 자식 sub가 보인다(none->block) */
footer .top .site:hover .sub {display: flex;}
footer address {color: #777; line-height: 1.7;}