/* header */
header {}
header .top {
    width: 1151px; height: 48px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .top nav {}
header .top nav a {font-size: 0.875rem; margin-right: 16px;}
header .top nav a:last-child {margin-right: 0;}
header .top nav a img {}
header .top .lnb {}
header .top .lnb a {font-size: 0.875rem; margin-left: 16px;}
header .top .lnb a:first-child {margin-left: 0;}
/* header-top */
/* header-bottom */
header .bottom {
    width: 1151px; height: 119px;
    margin: 0 auto;
    /* h1, search_frm, right 정렬 대상의 부모 flex 대상 */
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #search_frm {}
header .bottom #search_frm fieldset {
    width: 370px; height: 47px;
    padding: 0 13px 0 21px;
    border: 3px solid #1e6cb3;
    background-color: #fff;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .bottom #search_frm fieldset #user_search {
    width: 300px; outline: none;
}
header .bottom #search_frm fieldset #user_search::placeholder {color: #1e6cb3;}
header .bottom #search_frm fieldset #search_btn {
    width: 24px; height: 24px;
}
header .bottom #search_frm fieldset #search_btn img {}
header .bottom .right {}
header .bottom .right #lang_frm {float:right}
header .bottom .right #lang_frm fieldset {}
header .bottom .right #lang_frm fieldset #lang_sele {
    background-color: #fff;
    width: 98px; height: 28px;
    border: 1px solid #1e6cb3;
    font-size: 0.8125rem;
}
header .bottom .right #lang_frm fieldset #lang_sele option {font-size: 0.8125rem;}
header .bottom .right #lang_frm fieldset #go_btn {
    width: 28px; height: 28px;
    background-color: #1e6cb3;
    font-weight: 700;
    font-size: 0.8125rem;
}
header .bottom .right .weather {clear:both;}
header .bottom .right .weather .current_weather {
    font-size: 1.5rem;
    font-weight: 700;
}
header .bottom .right .weather p {font-size: 0.8125rem;}
/* main1행 */
/* main1행-banner */
/* main1행-right(코로나, 교통정보) */
/* main2행-주요서비스 */
/* main3행-배너3 */
/* main4행-게시판 */
/* main4행-게시판-이벤트신청 */
/* main4행-게시판-이달행사축제 */
/* main4행-게시판-서비스 */
/* main5행-분야정보 */
/* main6행-새소식 */
/* footer*/
/* footer-1행*/
footer {
    width: 1151px;
    margin: 0 auto;
}
footer .top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border-top: 1px solid #aaa;
}
footer .top .menu {}
footer .top .menu a {margin-right: 16px;}
footer .top .menu a em {font-weight: 700;}
footer .top .sns {
    display: flex; flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
footer .top .sns a {
    margin-right: 16px;
    display: block;
    background-image: url(../images/icon_sns2/icon_sns2.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px; text-indent: -9999px;
}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x: -25px;}
footer .top .sns a:nth-child(3) {background-position-x: -50px;}
footer .top .sns a:nth-child(4) {background-position-x: -75px;}
footer .top .sns a:nth-child(5) {background-position-x: -100px;}
footer .top .sns a:nth-child(6) {
    background-position-x: -125px;
    margin: 0;
}
footer .top .sns a:hover {background-position-y: -25px;}
/* footer-2행*/
footer .bottom {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    border-top: 1px solid #aaa;
}
footer .bottom .left {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
footer .bottom .left p {margin-right: 16px;}
footer .bottom .left p img {}
footer .bottom .left address {
    font-size: 0.813rem;
}
footer .bottom .banner {}
footer .bottom .banner a {}
footer .bottom .banner a img {margin-left: 16px;}